@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
    --primary: white;
    --secondary: black;
}

body {
    background-color: var(--secondary);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
    font-family: Arial;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Inter;
}

body.light {
    --primary: black;
    --secondary: white;
}

.main {
    width: 60%;
    border: dashed var(--primary);
    color: white;
    display: flex;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

h1{
    font-weight: lighter;
    color: var(--primary);
    margin: 10px;
}

.bottom-menu {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    bottom: 0;
    background-color: var(--secondary);
    border-top: solid var(--primary);
}

#voltar-menu {
    font-size: 20px;
    color: var(--primary);
    display: inline-block;
    margin: 0;
}

.navbar-left {
    float: left;
    display: flex;
    align-items: center;
}

.navbar-right {
    float: right;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .bottom-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-left,
    .navbar-right {
        float: none;
    }

}

.arrow-left,.arrow-left:hover{
    width:50px;
    height:50px;
    fill: var(--primary);
    cursor: pointer;
    margin:10px;
}

.color-mode,.color-mode:hover{
    content: url("../assets/moon.svg");
    height: 25px;
    margin:15px;
    cursor: pointer;
}

.light .color-mode,.light .color-mode:hover{
    content: url("../assets/sun.svg");
    height: 25px;
    margin:15px;
    cursor: pointer;
}
.field{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2%;
}

.radio,.radio:hover {
    width: 15px;
    height: 15px;
    border: 4px solid var(--primary);
    text-align: center;
    padding: 5px;
    background-color: var(--primary);
    appearance: none;
    border-radius:50%;
    margin: 10px;
}
    
.at-done,.at-done:hover{
    background-color: var(--secondary);
}

a{
    text-decoration: none;
}

label{
    color: var(--primary);
}

@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
    }
  }