/* File to handle puzzle and stuffs */

* {
  /* the padding and margin should be added manually */
  /* padding: 0; */
  /* margin: 0; */
  /* make so that margin and padding are included as the element */
  /* width and hight insted of adding it to */
  /* example: width: 100; hight: 100; margin: 30 */
  /* the width and hight will be 70 so the element don't gets bigger */
  /* overwride in the style.css if necessary */
  box-sizing: border-box;
}

/* changes the font of the document */
/* TODO change the font */
html {
  text-align: center;
  font-family: sans-serif;
}

/** .puzzle-form **/
.puzzle-form {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  position: fixed;
  max-width: 700px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.puzzle-form,
.puzzle-form puzzle-question, 
.puzzle-form puzzle-answer, 
.puzzle-form button,
.puzzle-form input[type="text"] {
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
}

.puzzle-form, 
.puzzle-form puzzle-question, 
.puzzle-form label, 
.puzzle-form button,
.puzzle-form input[type="text"] {
  display: block;
  padding: 20px;
}

.puzzle-form input[type="text"] {
  display: block;
  width: 100%;
  margin: 10px 0px;
}

.puzzle-form button {
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

.puzzle-form label {
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  transition-duration: .2s;
}

.puzzle-form puzzle-answer {
  display: inline-block;
}

.puzzle-form puzzle-answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 10px 0px;
}

.puzzle-form puzzle-answer.checked {
  background-color: black;
  color: white;
}

.puzzle-form input[type="radio"] {
  display: none;
}

.puzzle-form-range puzzle-answers {
  display: block;
}

.hide {
  display: none;
}

/* * Puzzle Select *
puzzle-select {
  width: 100px;
  height: 100px;
  background-color: red;
  display: inline-block;
  margin: 10px;
  border-radius: 20px;
  transition-duration: .2s;
}

.puzzle:hover {
  outline: 2px red solid;
  outline-offset: 2px;
  cursor: pointer;
}

.puzzle.solved {
  background-color: silver;
}

.puzzle.solved:hover {
  outline: none;
  cursor: initial;
} */

@import url("./popup.css");