
.arrow-left,.arrow-left:hover{
    width:40px;
    height:40px;
    fill: var(--primary);
    cursor: pointer;
    margin:5px;
}

.color-mode,.color-mode:hover{
    content: url("../assets/moon.svg");
    height: 25px;
    margin:15px;
    cursor: pointer;
}

.light .color-mode,.light .color-mode:hover{
    content: url("../assets/sun.svg");
    height: 25px;
    margin:15px;
    cursor: pointer;
}

.bottom-menu{
    display: flex;
    width: 100%;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    bottom: 0;
    background-color: var(--secondary);
    border-top: solid var(--primary);
    justify-content: space-between;
    align-items: center;
}

#voltar-menu{
    font-size: 20px;
    color:var(--primary);
    display: inline-block;
    margin: 5px;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-right{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 400px) {
    .bottom-menu{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  }