
:root {
    --primary: white;
    --secondary: black;
}

body{
    background-color: var(--secondary);
}

body.light {
    --primary: black;
    --secondary: white;
}

.header_username{
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;
    color: var(--primary);
}

.header-navbar{
    position: fixed;
    margin: 15px;
    border-radius: 15px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 3px solid var(--primary);
    bottom: 0;
    right:0;
    left:0;
 }

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-nav{
    color: var(--primary);
    position: relative;
}

.item-nav::after{
    content: " ";
    height: 2px;
    width: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    transition-duration: .5s;
}

.item-nav:hover::after{
    width: 100%;
}

.item-nav:hover{
    color: var(--primary);
}

.button-header .nav-link{
    color:var(--primary);
    text-decoration: none;
    margin: 5px;
    border: 2px solid var(--primary);
    border-radius: 15px;
}

.button-header .nav-link:hover{
    color:var(--primary);
}

.item-icon, .item-icon:hover{
    cursor: pointer;
}

.navbar-toggler{
    border: 2px solid var(--primary);
}

#burger-icon{
    stroke: var(--primary);
}


@media only screen and (max-width: 1000px){
    .button-header .nav-link{
        padding: 10px;
    }
}

.main-header{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--primary);
    text-align: center;
    font-weight: normal;
}

.main-header h1,.main-header h4{
    font-weight: normal;
}

#button-main{
    font-size: 20px;
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 15px;
}

.navbar-nav{
    display: flex;
}

.icon-header{
    content: url("../assets/moon.svg");
    height: 25px;
    margin:15px;
}

.light .icon-header{
    content: url("../assets/sun.svg");
    height: 25px;
    margin:15px;
}

.navbar-collapse{
    transition:1s;
}

.top-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.levels{
    height: 100vh;
}

iframe{
    width: 100%;
    height: 100%;
    overflow: visible;
}

hr{
    border: 1px solid red;
}

.spacer{
    display: none;
    height: 20vh;
}

@media only screen and (max-width: 1000px) {
    .spacer{
        display: inline-block;
    }
  }

  .fullscreen-image {
    width: 100%;
    height: 100%;
    resize: none;
    object-fit:cover;
  }