.HUD, .profile-container {
  display: block;
  position: fixed;
  bottom: 20px;
  text-align: center;
}

.HUD *, .profile-container * {
  padding: 10px 20px;
  display: block;
  border: 2px black solid;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.HUD {
  left: 20px;
}

.profile-container {
  right: 20px;
}